<a href="https://colab.research.google.com/github/RandyGirl/ML-22/blob/main/ForHome1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Home

#Task 1

In [ ]:
def round_to_two_places(num):
    """Return the given number rounded to two decimal places. 
    
    >>> round_to_two_places(3.14159)
    3.14
    """
    return round(num, 2)
round_to_two_places(3.14159)

3.14

#Task 2

In [ ]:
# ruound_to_two_places(9.9999) --- wrong spelling
round_to_two_places(9.9999)

10.0

In [ ]:
# x = -10
# y = 5
# smallest_abs = min(abs(x, y))
# smallest_abs # Should store the variable with the smaller absolute value, i.e. 5.

# abs() uses only one argument

x = abs(-10)
y = abs(5)
smallest_abs = min(x, y)
smallest_abs

5

In [ ]:
# def f(x):
#     y = abs(x)
# return y

# return should be written on one line with y 
def f(x):
     y = abs(x)
     return y
f(-3)

3

#Task 3

In [ ]:
def is_neg_if(num):
  if num < 0:
    return -1
  elif num == 0:
    return 0
  else:
    return 1

def is_neg_ternary(num):
  return 0 if num == 0 else -1 if num < 0 else 1

print(is_neg_if(-3)) 
print(is_neg_ternary(-3))

-1
-1

#Task 4

In [ ]:
def to_smash(total_candies):
    """Return the number of leftover candies that must be smashed after distributing
    the given number of candies evenly between 3 friends.
    
    >>> to_smash(91)
    Splitting 91 candies
    1

    >>> to_smash(1)
    Splitting 1 candy
    0
    """
    if total_candies == 1:
      print(f"Splitting {total_candies} candy")
    else:
      print(f"Splitting {total_candies} candies")

    return total_candies % 3

print(to_smash(91))
print(to_smash(1))

Splitting 91 candies
1
Splitting 1 candy
1

#Task 5

In [ ]:
def onionless(ketchup, mustard, onion):
    """Return whether the customer doesn't want onions.
    """

    return not onion

def wants_all_toppings(ketchup, mustard, onion):
    """Return whether the customer wants "the works" (all 3 toppings)
    """

    return ketchup and mustard and onion

def wants_plain_hotdog(ketchup, mustard, onion):
  """Return whether the customer wants a plain hot dog with no toppings.
  """

  return not(ketchup or mustard or onion)

def exactly_one_sauce(ketchup, mustard, onion):
    """Return whether the customer wants either ketchup or mustard, but not both.
    (You may be familiar with this operation under the name "exclusive or")
    """
    return ketchup ^ mustard


print(onionless(True, True, False))
print(wants_all_toppings(False, True, True))
print(wants_all_toppings(True, True, True))
print(wants_plain_hotdog(False, True, True))
print(wants_plain_hotdog(False, False, False))
print(exactly_one_sauce(True, False, True))
print(exactly_one_sauce(True, True, True))

True
False
True
False
True
True
False

#Task 6

In [ ]:
def exactly_one_topping(ketchup, mustard, onion):
  """Return whether the customer wants exactly one of the three available toppings
  on their hot dog.
  """
  return int(ketchup) + int(mustard) + int(onion) == 1

exactly_one_sauce(True, False, False)

True

#task 7

In [ ]:
def select_second(l):
    """Return the second element of the given list. If the list has no second
    element, return None.
    """
    if len(l) > 1:
      return l[1]
    else:
      return 'None'


list1 = [1, 3, 45]
list2 = [3]

print(select_second(list1))
print(select_second(list2))

3
None

#Task 8

In [ ]:
def losing_team_captain(teams):
    """Given a list of teams, where each team is a list of names, return the 2nd player (captain)
    from the last listed team
    """
    print(teams[-1][1])

teams = [['Coach1', 'Captain1', 'Player1'], ['Coach2', 'Captain2', 'Player2']]
losing_team_captain(teams)

Captain2

#Task 9

In [ ]:
def purple_shell(racers):
    """Given a list of racers, set the first place racer (at the front of the list) to last
    place and vice versa.
    
    >>> r = ["Mario", "Bowser", "Luigi"]
    >>> purple_shell(r)
    >>> r
    ["Luigi", "Bowser", "Mario"]
    """
    racers[0], racers[-1] = racers[-1], racers[0]

r = ["Mario", "Bowser", "Luigi"]
purple_shell(r)
r

['Luigi', 'Bowser', 'Mario']

#Task 10

In [ ]:
arrivals = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

def is_fashionably_late(arrivals, name):
    """Given an ordered list of arrivals to the party and a name, return whether the guest with that
    name was fashionably late.
    """
    return (name != arrivals[-1]) and (round(len(arrivals)/2) < arrivals.index(name) + 1)

print(is_fashionably_late(arrivals, 'Mona'))
print(is_fashionably_late(arrivals, 'May'))
print(is_fashionably_late(arrivals, 'Fleda'))
print(is_fashionably_late(arrivals, 'Ford'))

4
True
False
False
False

#Task 11

In [ ]:
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """

    """ Like this checks only if the first number is divisible by 7
    for num in nums:
        if num % 7 == 0:
            return True
        else:
            return False
    """

    answer = False
    for num in nums:
      if num % 7 == 0:
        answer = True
      
    return answer

nums = [3, 49, 568]
has_lucky_number(nums)

True

#Task 12

In [ ]:
def elementwise_greater_than(l, thresh):
  """Return a list with the same length as l, where the value at index i is 
  True if l[i] is greater than thresh, and False otherwise.
  
  >>> elementwise_greater_than([1, 2, 3, 4], 2)
  [False, False, True, True]
  """
  r = []
  for num in l:
    if num > thresh:
      r.append(True)
    else:
      r.append(False)

  return r

elementwise_greater_than([1, 2, 3, 4], 2)

[False, False, True, True]

#Task 13

In [ ]:
def menu_is_boring(meals):
  """Given a list of meals served over some period of time, return True if the
  same meal has ever been served two days in a row, and False otherwise.
  """
  for i in range(len(meals) - 1):
    if meals[i] == meals[i + 1]:
      return True
  
  return False

meals = ['Eggs', 'Pizza', 'Chicken', 'Chicken']
meals2 = ['Eggs', 'Pizza', 'Chicken']

print(menu_is_boring(meals))
print(menu_is_boring(meals2))

True
False

#Task 14

In [ ]:
def is_valid_zip(zip_code):
  """
  Returns whether the input string is a valid (5 digit) zip code

  Examples:
  >>> is_valid_zip('1234')
  False

  >>> is_valid_zip('12345')
  True
  """
  return zip_code.isdigit() and len(zip_code) == 5
#help(str)

print(is_valid_zip('1234'))
print(is_valid_zip('12345'))

False
True

#Task 15

In [ ]:
def word_search(doc_list, keyword):
  """
  Takes a list of documents (each document is a string) and a keyword. 
  Returns list of the index values into the original list for all documents 
  containing the keyword.

  Example:
  >>> doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
  >>> word_search(doc_list, 'casino')
  [0]
  """
  result = []
  for i in range(len(doc_list)):
    if keyword in doc_list[i].lower().replace('.', ' ').replace(',', ' ').split():
      result.append(i)

  return result

doc_list = ["The Learn Python Challenge Casino.", "They bought a car", "Casinoville"]
word_search(doc_list, 'casino')

[0]

#Task 16

In [ ]:
def multi_word_search(doc_list, keywords):
  """
  Takes list of documents (each document is a string) and a list of keywords.  
  Returns a dictionary where each key is a keyword, and the value is a list of indices
  (from doc_list) of the documents containing that keyword

  >>> doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
  >>> keywords = ['casino', 'they']
  >>> multi_word_search(doc_list, keywords)
  {'casino': [0, 1], 'they': [1]}
  """
  result = {}
  for word in keywords:
    result[word] = word_search(doc_list, word)

  return result

doc_list = ["The Learn Python Challenge Casino.", "They bought a car and a casino", "Casinoville"]
keywords = ['casino', 'they']
multi_word_search(doc_list, keywords)

{'casino': [0, 1], 'they': [1]}

#Task 17

In [ ]:
def is_palindrome(string):
  str = string.lower().replace('.', '').replace(',', '').replace(':', '').replace(';', '').replace(' ', '')

  return str == str[:: -1]

print(is_palindrome("level"))
print(is_palindrome("algorithm"))
print(is_palindrome("A man, a plan, a canal: Panama."))

True
False
True

#Task 18

In [ ]:
def generate_range(min, max, step):
  result = []

  for i in range(min, max + 1, step):
    result.append(i)

  return result

print(generate_range(2, 10, 2))
print(generate_range(1, 10, 3))

[2, 4, 6, 8, 10]
[1, 4, 7, 10]

#Task 19

In [ ]:
def is_original_position(str):
  l = 0
  r = 0
  u = 0
  d = 0

  for i in range(len(str)):
    if str[i] == 'L':
      l = l + 1
    elif str[i] == 'R':
      r = r + 1
    elif str[i] == 'U':
      u = u + 1
    elif str[i] == 'D':
      d = d + 1

  return l == r and u == d

print(is_original_position("LR"))
print(is_original_position("URURD"))
print(is_original_position("RUULLDRD"))

True
False
True

#Task 20

In [ ]:
def max_profit(list):
  max = 0
  for i in range(len(list) - 1):
    for j in range(i + 1, len(list)):
      if max < list[j] - list[i]:
        max = list[j] - list[i]

  return max

max_profit([9, 11, 8, 5, 7, 10])

5

#Task 21

In [ ]:
def rotations(n):
  list = [n]
  num = [int(x) for x in str(n)]
  
  for i in range(len(str(n))):
    part1 = num[0:i]
    part2 = num[i+1:]
    new = part1 + part2
    new.append(num[i])
    list.append(int(''.join([str(j) for j in new])))
    num = new

  return max(list)

rotations(56789)

68957